<link rel="stylesheet" href="/css/home.css">
<h1>Codeal Home Page <%= title %></h1>
<section id="feed-posts">

    <% if(locals.user){ %>   
    <h4>Posts</h4>
    <form action="/post/create" id="new-post-form" method="post">
        <textarea name="content"  cols="30" rows="3" placeholder="Type Here......"></textarea>
        <input type="submit" value="Post">  
    </form>
    <% } %>
    <div id="post-list-container">
        <ul>
            <% for(post of posts) { %> 
                <li>
                    <p> <%= post.content %> </p>
                    <small>
                        <%= post.user.name %> 
                    </small>
                </li>    
            <% } %>  
        </ul>
    </div>
</section>

