<H1>Sign IN page</H1>

<form action="/users/create_session" method="POST">

    <input type="text" name="email" placeholder="email" required>
    <input type="text" name="password" placeholder="Enter your password" required>
    <input type="submit" value="Sign IN">

</form>

<p>
    <a href="/users/auth/google">Google signIn/ SignUp</a>
</p>